.adbg {
  background-image: url("adpic.jpg");
  min-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.addform {
  margin-top: 150px;
  margin-left: 330px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headc {
  margin-left: 200px;
  color: green;
}

.addform > input {
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.addform > input:focus,
textarea:focus {
  border: 1px solid cadetblue(0, 0, 196);
}
body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

.addform > textarea {
  height: 100px;
  margin-top: 20px;
  max-width: 400px;
  min-height: 300px;
}

.addform > label {
  margin-top: 15px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

.addform > button {
  margin-left: 250px;
  margin-top: 20px;
  background-color: blueviolet;
  height: 50px;
  width: 100px;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

.addform > button:hover {
  background-color: brown;
  opacity: 1;
}

.addform > button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.term {
  margin-top: 10px;
  text-align: center;
}

.rowck {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* @media (min-width:500px) {
    .adbg {
      flex-direction: row;
      justify-content: space-between;
    }
    
   
  } */
